<div id="root">
  <header>
    <div class="title">
      <h1>How's My Driving?</h1>
      <p class="subhead">The public's pulse. No filter. No delay.</p>
    </div>
    <div class="description">
      <p>Real time twitter sentiment on the world's most 12 most powerful leaders.</p>
    </div>
  </header>
  <div id="viz"></div>
  <footer>
    Sentiment updated once every 10 minutes. Tweets updated once a minute. Sentiment analysis powered by <a href="http://www.alchemyapi.com/">Alchemy</a>.
  </footer>
</div>
